.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.books-container .books .bookcard {
  
  margin:20px;
  width: 350px;
  position: relative;
  float: left;
  
}

.books-container .books .bookcard .books-img{
  width: 350px;
  height:200px;
}

.card-stacked {
  max-height: 500px;
  display: inline-block;
}

.card .card-content {
  padding: 15px 25px !important;
}
.card-action {
padding: 5px 25px !important;
}

.cartCard {
  max-width: 800px;
}

.pricetag {
  position: relative;
  float: left;
}

.titletag {
  position: relative;
  float: left;
}

.infocard {
  width: 200px;
  height: 200px;
}

.github {
  width: 24px;
  height: 24px;
}

.techlogos {
  width: 150px;
  height: 150px;
}


